<div class="main-container"> 
   <div class="branding">   
    <header class="header header-4">
        Project Manager
    </header>
    </div>
    
    <nav class="subnav">
        <ol class="nav">
          <li>
            <a routerLink='/'>Home</a>
          </li>
          <li>
            <a routerLink='/addproject'>Add Project</a>
          </li>
          <li>
            <a routerLink='/addtask'>Add Task</a>
          </li>
          <li>
            <a routerLink='/adduser'>Add User</a>
          </li>
          <li>
            <a routerLink='/viewtask'>View Task</a>
          </li>         
      </ol>
    </nav>
    <div class="content-container">
        <div class="content-area">
            <router-outlet></router-outlet>
        </div>        
    </div>
</div> 


